extends layout 

block content
  div(style="margin-top: 70px;").item 
    div.item-info
      if item.image_url 
        img(src=item.image_url)
      else 
        img(src="/placeholder.webp")
      div
        h1 #{title}: #{item.name}
        p.mb-3= item.description
        p.fs-4 Price: ₹#{item.price}
        p.fs-4 In-stock: #{item.in_stock}
        p.fs-4 Category: 
          a(href=item.category.url) #{item.category.name}

    if !item.is_default
      div(style="text-align: center; margin-top: 30px")
        h4 Do you really want to delete this item?

        form(method='POST')
          div.form-group
            input#itemid.form-control(type='hidden', name='itemid', value=item._id )

          button.cus-btn(type='submit') Delete
    
    else
      h5.mt-3(style="text-align: center") Default Item cannot be deleted
  