extends layout

block content 
  div.item
    div.item-info 
      if item.image_url
        img(src=item.image_url, alt="")
      else 
        img(src="/placeholder.webp", alt="")
      div 
        h1= item.name 
        p.mb-3= item.description 
        p.fs-4 Price: ₹#{item.price}
        p.fs-4 In-stock: #{item.in_stock}
        p.fs-4 Category: 
          a.category-link(href=item.category.url) #{item.category.name}
    .action-btns 
      a(href=`${item.url}/update`)
        button.cus-btn
          i.fa-regular.fa-pen-to-square
          |  Update Item 
      a(href=`${item.url}/delete`)
        button.cus-btn
          i.fa-solid.fa-trash
          |  Delete Item